<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<form action="{% url 'dump' %}" method="post">
<fieldset>
<legend>ajax_demo :</legend>
    {% csrf_token %}
<input type="button" onclick="ajaxSubmit()" value="提交">
</fieldset>
</form>
<script>
    function ajaxSubmit() {
        var data_list = [
            {'name':'james','age':34},
            {'name':'durant','age':31},
            {'name':'curry','age':30},
        ];
        $.ajax({
            url:'{% url 'dump' %}',
            type:'POST',
            data:{data:JSON.stringify(data_list)},
            success:function (arg){
                alert('后台成功接收数据')
            }
        })
    }

</script>
</body>

</html>